/* js dynamic style */

.score-div {
  display: none;
}

.score-div.completed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;
}
.score-div.completed h1 {
  padding: 20px;
  text-align: center;
}

.score-div.completed .reload {
  padding: 10px;
  margin-top: 30px;
}

.quiz-container.remove {
  display: none;
}

.score {
  color: green;
}
.nos_question{
    color: rgb(11, 196, 252);
}

/* style */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(230, 217, 217);
  font-family: sans-serif;
}

.container {
  width: 50%;
  height: 50%;
  background: #fff;
  border-radius: 10px;
}

.quiz-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.question {
  position: absolute;
  text-transform: capitalize;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

ul {
  list-style: none;
  position: absolute;
  margin: 10px;
  top: 25%;
  left: 20%;
}
ul li {
  margin-bottom: 20px;
}
ul li label {
  text-transform: capitalize;
}
.submit-btn-container {
  position: absolute;
  top: 84%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* transform: translate(-50%, -50%); */
  width: 100%;
}
.submit {
  background: rgb(71, 114, 255);
  border: none;
  text-transform: capitalize;
  font-size: 20px;
  color: white;
  outline: none;
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

@media screen and (max-width: 663px) {
  .question {
    font-size: 17px;
  }
  .score-div.completed h1 {
  font-size: 17px;
}

}

@media screen and (max-width: 425px) {
  .container {
    width: 70%;
    height: 70%;
  }
  .question {
    margin-top: 30px;
  }
  .submit-btn-container {
    position: absolute;
    top: 87%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* transform: translate(-50%, -50%); */
    width: 100%;
  }
}
